<!DOCTYPE html>
<html>
<head>
  <title>Malakbel</title>
  <%= stylesheet_link_tag    "malakbel/application", media: "all" %>
  <%= javascript_include_tag "malakbel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
